<div class="container-fluid text-center">
    <p class="text-center footer-app">
        <span class="">
            Desarrollado por <strong>Alberto Baigorria</strong> &copy; @DateTime.Now.Year - Pronósticos Mundial <strong>Qatar M22</strong> -
            Version:
            <a class="danger text-decoration-none text-muted" style="text-decoration:underline; font-weight:bold;" data-bs-placement="above" data-bs-toggle="modal" data-bs-target="#modal-ver-api" href="#" title='Versiones '>1.0.0-alpha1</a>              
        </span>
        @*Environment: <span class="text-muted" style="font-weight: bold;">  @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") </span>*@
    </p>
</div>

<div id="modal-ver-api" class="modal text-muted" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">API Versiónes de Publicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 style="padding: 4px; font-size: 11pt; text-align: right;">
                    <span style="color: #afa7a7">2022-01-01</span> <strong style="color: #666666">Versión 1.0.0-alpha1</strong>
                </h3>
                <ul class="">
                    <li class="">
                        <strong>01/01/2022</strong>
                        <ul>
                            <li>Creación y Configuracion Inicial de Proyecto</li>
                            <li>Definicion de Arquitectura de Proyectos</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
