@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="trabajos">
    <div class="contenedor">
        <h3 class="titulo">Partidos Programados</h3>
        <div class="contenedor-trabajos">
            <div class="trabajo">
                <div class="thumb">
                    <img src="~/assets/img/trabajos/1.jpg" alt="Loren Ipsum Trabajo">
                </div>
                <div class="descripcion">
                    <p class="nombre">Loren Ipsun</p>
                    <p class="categoria">
                        HTML, CSS, ASPNET WEB API, REST, JSON, NET
                    </p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="~/assets/img/trabajos/2.jpg" alt="Loren Ipsum Trabajo">
                </div>
                <div class="descripcion">
                    <p class="nombre">Loren Ipsun</p>
                    <p class="categoria">
                        HTML, CSS, ASPNET WEB API, REST, JSON, NET
                    </p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="~/assets/img/trabajos/3.jpg" alt="Loren Ipsum Trabajo">
                </div>
                <div class="descripcion">
                    <p class="nombre">Loren Ipsun</p>
                    <p class="categoria">
                        HTML, CSS, ASPNET WEB API, REST, JSON, NET
                    </p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="~/assets/img/trabajos/4.jpg" alt="Loren Ipsum Trabajo">
                </div>
                <div class="descripcion">
                    <p class="nombre">Loren Ipsun</p>
                    <p class="categoria">
                        HTML, CSS, ASPNET WEB API, REST, JSON, NET
                    </p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="~/assets/img/trabajos/5.jpg" alt="Loren Ipsum Trabajo">
                </div>
                <div class="descripcion">
                    <p class="nombre">Loren Ipsun</p>
                    <p class="categoria">
                        HTML, CSS, ASPNET WEB API, REST, JSON, NET
                    </p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="~/assets/img/trabajos/6.jpg" alt="Loren Ipsum Trabajo">
                </div>
                <div class="descripcion">
                    <p class="nombre">Loren Ipsun</p>
                    <p class="categoria">
                        HTML, CSS, ASPNET WEB API, REST, JSON, NET
                    </p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="~/assets/img/trabajos/7.jpg" alt="Loren Ipsum Trabajo">
                </div>
                <div class="descripcion">
                    <p class="nombre">Loren Ipsun</p>
                    <p class="categoria">
                        HTML, CSS, ASPNET WEB API, REST, JSON, NET
                    </p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="~/assets/img/trabajos/8.jpg" alt="Loren Ipsum Trabajo">
                </div>
                <div class="descripcion">
                    <p class="nombre">Loren Ipsun</p>
                    <p class="categoria">
                        HTML, CSS, ASPNET WEB API, REST, JSON, NET
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>